* {
  box-sizing: border-box;
}

body {
  background-color: #777;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.keyboard {
  display: flex;
}

.keyboard .key {
  height: calc(var(--width) * 4);
  width: var(--width);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.keyboard .white {
  --width: 50px;
  background-color: #ccc;
  border-left: 1px solid #3d3d3d;
}

.keyboard .white:hover {
  background-color: #ececec;
}

.keyboard .white:first-child {
  border-left: 0;
}

.keyboard .black {
  --width: 25px;
  background-color: #3d3d3d;
  margin: 0 calc(var(--width) / -2);
  z-index: 1;
  border-bottom: 10px solid #141414;
  color: #ccc;
}

.keyboard .black:hover {
  background-color: #686868;
}
